<h1>Styled dataframes<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [59]:
import pandas as pd
from IPython.display import HTML

In [60]:
data = {
    'Total amount': [120000, 180000, 50000, 20000],
    'Items': [
        'OEM warranty budget',
        'Dist warranty budget',
        'Extended warranty budget',
        'Goodwill budget'
    ]
}

In [61]:
df = pd.DataFrame(data)
html_table = df.to_html(classes='table-style', escape=False)

In [62]:
html_style = """
<!DOCTYPE html>
<html>
<head>
<style>
    .table-style {
        border-collapse: collapse;
        width: 100%;
    }
    .table-style td, .table-style th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .table-style td {
        max-width: 150px;
        word-wrap: break-word;
    }
</style>
</head>
<body>
"""
complete_html = html_style + html_table + '</body></html>'

with open('styled_table.html', 'w') as file:
    file.write(complete_html)

In [63]:
HTML(filename='styled_table.html')

In [64]:
styled_df = df.style.set_properties(**{
    'text-align': 'center',
    'font-weight': 'bold',
    'font-style': 'italic'
}).set_table_styles([{
    'selector': 'td:nth-child(2)',
    'props': [('text-align', 'right')]
}, {
    'selector': 'td:nth-child(3)',
    'props': [('text-decoration', 'underline')]
}])

html_styled = styled_df.to_html(escape=False)

with open('styled_table_new.html', 'w') as file:
    file.write(html_styled)

In [65]:
HTML(filename='styled_table_new.html')

In [66]:
styled_df = df.style.set_properties(**{
    'font-size': '15px',
    'color': 'darkblue'
}).set_table_styles([{
    'selector': 'th',
    'props': [('font-size', '18px'), ('font-family', 'Arial'), ('color', 'darkred')]
}, {
    'selector': 'td:nth-child(3)',
    'props': [('font-family', 'Helvetica'), ('font-style', 'italic')]
}])

html_styled = styled_df.to_html(escape=False)

with open('styled_table_upd.html', 'w') as file:
    file.write(html_styled)

In [67]:
HTML(filename='styled_table_upd.html')

In [68]:
def color_score(val):
    color = 'red' if val > 100000 else ('green' if val >= 20000 else 'orange')
    return f'color: {color};'


styled_df = df.style.applymap(color_score, subset=['Total amount'])


styled_df = styled_df.highlight_max(subset='Total amount', color='orange')
styled_df = styled_df.highlight_min(subset='Total amount', color='coral')


html_styled = styled_df.to_html(escape=False)

with open('styled_table_cond.html', 'w') as file:
    file.write(html_styled)

In [69]:
HTML(filename='styled_table_cond.html')

In [70]:
styled_df = df.style.set_table_styles([
    {'selector': 'th',
     'props': [('background-color', 'lightblue'), ('color', 'black'), ('font-weight', 'bold')]},
    {'selector': 'td',
     'props': [('text-align', 'center')]},
    {'selector': 'tr:nth-child(even)',
     'props': [('background-color', 'lightgray')]},
    {'selector': 'tr:nth-child(odd)',
     'props': [('background-color', 'white')]},
    {'selector': '.index_name',
     'props': [('color', 'darkblue'), ('font-style', 'italic')]}
], overwrite=False)


styled_df.index.name = 'Index'

html_styled = styled_df.to_html(escape=False)

with open('styled_table_col.html', 'w') as file:
    file.write(html_styled)

In [71]:
HTML(filename='styled_table_col.html')

In [72]:
html_table = df.to_html(classes='table-style', escape=False)

css_set_column_width = """

<style>
    .table-style {
        width: 80%; 
    }
    .table-style th, .table-style td {
        width: 50%;
    }

    .table-style th:nth-child(1), .table-style td:nth-child(1) { width: 10%; }
    .table-style th:nth-child(2), .table-style td:nth-child(2) { width: 30%; }
    .table-style th:nth-child(3), .table-style td:nth-child(3) { width: 60%;
                                                                 font-weight: bold;
                                                                 color: green;}
</style>
"""
html_with_column_widths = css_set_column_width + html_table

with open('styled_table_adj.html', 'w') as file:
    file.write(html_with_column_widths)

In [73]:
HTML(filename='styled_table_adj.html')

In [74]:
styled_df = df.style.set_table_styles([
    {'selector': 'th, td',
     'props': [('padding', '10px'), ('margin', '5px'), ('border', '1px solid black')]},
    {'selector': 'table',
     'props': [('border-collapse', 'separate'), ('border-spacing', '15px 5px')]},
], overwrite=False)

html_styled = styled_df.to_html(escape=False)

with open('styled_table_borders.html', 'w') as file:
    file.write(html_styled)

In [75]:
HTML(filename='styled_table_borders.html')